{% extends 'base.html' %}
{% block title %}AbhiYTScraper {% endblock %}

{% block content %}
<div class="videoshow">
    <div class="main">
        <h1>YouTube channel : {{product.upper()}}</h1>
        <h2>Subscribers : {{subscriber[0].split(" ")[0]}}</h2>
        <h3>Click below  to load the comments</h3>
        <div class="data">
            {% for i in numbers %}
                <div class="white">
                    <div class="mainData">
                        <img src="../static/images/{{product}}/{{product}}-{{i}}.jpeg" alt="">
                        <p>{{ titles[i-1] }}</p>
                        <a href="{{ links[i-1] }}" target=”_blank”>View video</a>
                    </div>
                    <p class="viewclass">{{view[i-1]}}</p>
                </div>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}